<nb-card>
  <nb-card-body>
    <a href="https://github.com/noskap/ngx-admin-demo/blob/master/src/app/pages/dashboard/dashboard.component.html">Source</a>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-body>
    Hello from ngx-admin sandbox project.
  </nb-card-body>
</nb-card>
<div class="row">
  <nb-card class="col m-3">
    <nb-card-header>String</nb-card-header>
    <nb-card-body>
      <input type="text" nbInput>
    </nb-card-body>
  </nb-card>
  <nb-card class="col m-3">
    <nb-card-header>Number</nb-card-header>
    <nb-card-body>
      <input type="number" nbInput>
    </nb-card-body>
  </nb-card>
</div>
<div class="row mb-3">
  <nb-card class="col m-3">
    <nb-card-header>
      Start Date
    </nb-card-header>
    <nb-card-body>
      <input nbInput placeholder="Pick Date" [nbDatepicker]="picker">
      <nb-datepicker #picker ></nb-datepicker>
    </nb-card-body>
  </nb-card>
  <nb-card class="col m-3">
    <nb-card-header>
      End Date
    </nb-card-header>
    <nb-card-body>
      <input nbInput placeholder="Pick Date" [nbDatepicker]="picker2">
      <nb-datepicker #picker2 ></nb-datepicker>
    </nb-card-body>
  </nb-card>
</div>
<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-2">column 1</div>
      <div class="col-2">column 2</div>
      <div class="col-2">column 3</div>
      <div class="col-2">column 4</div>
      <div class="col-2">column 5</div>
      <div class="col-2">column 6</div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-body>
    <nb-checkbox>Check 1</nb-checkbox>
  </nb-card-body>
  <nb-card-body>
    <nb-checkbox>Check 2</nb-checkbox>
  </nb-card-body>
  <nb-card-body>
    <nb-checkbox>Check 3</nb-checkbox>
  </nb-card-body>
  <nb-card-body>
    <nb-checkbox>Check 4</nb-checkbox>
  </nb-card-body>
</nb-card>
<nb-card *ngIf="true; let selected;">
  <nb-card-header>Selected Radio Option: {{ selected }}</nb-card-header>
  <nb-card-body>

    <nb-radio-group (valueChange)="selected = $event">
      <nb-radio
        *ngFor="let option of [
        'Radio Option 1',
         'Radio Option 2',
          'Radio Option 3',
           'Radio Option 4',
            'Radio Option 5'
            ]"
        [value]="option">
        {{ option }}
      </nb-radio>
    </nb-radio-group>

  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-body>
    <nb-progress-bar class="m-2" [value]="obs | async" [status]="status"></nb-progress-bar>
    <button nbButton class="m-2" size="small" status="info" (click)="start()">Restart</button>
    <button nbButton class="m-2" size="small" outline status="info" (click)="start()">Restart</button>
    <button nbButton class="m-2" size="small" status="danger" (click)="start()">Restart</button>
    <button nbButton class="m-2" size="small" outline status="danger" (click)="start()">Restart</button>
    <button nbButton class="m-2" size="small" status="success" (click)="start()">Restart</button>
    <button nbButton class="m-2" size="small" outline status="success" (click)="start()">Restart</button>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-body>
    <nb-stepper [disableStepNavigation]="true" orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>First step</ng-template>
        <h4>Step content #1</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p>
        <button nbButton disabled nbStepperNext>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Second step</ng-template>
        <h4>Step content #2</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step label="Third step">
        <h4>Step content #3</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelFour">
        <ng-template #labelFour>Fourth step</ng-template>
        <h4>Step content #4</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton disabled nbStepperNext>next</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
